.icon {
  width: 21px;
  height: 21px;
}

.twitter {
  composes: icon;
  background-image: url(../public/img/icons/twitter.svg);
}
.linkedin {
  composes: icon;
  background-image: url(../public/img/icons/linkedin.svg);
}
.github {
  composes: icon;
  background-image: url(../public/img/icons/github.svg);
}
.gitlab {
  composes: icon;
  background-image: url(../public/img/icons/gitlab.svg);
}
